In [1]:
import pandas as pd
d=pd.read_excel("duplicate.xlsx")
df=pd.DataFrame(d)
print(df)

   Name  Eng  Maths  Sci  Total
0     a   33     56   77    166
1     s   35     66   79    180
2     d   36     33   81    150
3     e   37     86   83    206
4    gh   38     96   33    167
5     j   39     33   87    159
6    kk   40    116   89    245
7    gh   38     96   33    167
8     e   37     86   83    206
9    gh   38     96   33    167
10    a   33     56   77    166

In [2]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7      True
8      True
9      True
10     True
dtype: bool

In [4]:
df.drop_duplicates()

  Name  Eng  Maths  Sci  Total
0    a   33     56   77    166
1    s   35     66   79    180
2    d   36     33   81    150
3    e   37     86   83    206
4   gh   38     96   33    167
5    j   39     33   87    159
6   kk   40    116   89    245

In [6]:
import pandas as pd
d=pd.read_excel("duplicate.xlsx")
df=pd.DataFrame(d)
print(df)
df.drop_duplicates(inplace=True)
print(df)

   Name  Eng  Maths  Sci  Total
0     a   33     56   77    166
1     s   35     66   79    180
2     d   36     33   81    150
3     e   37     86   83    206
4    gh   38     96   33    167
5     j   39     33   87    159
6    kk   40    116   89    245
7    gh   38     96   33    167
8     e   37     86   83    206
9    gh   38     96   33    167
10    a   33     56   77    166
  Name  Eng  Maths  Sci  Total
0    a   33     56   77    166
1    s   35     66   79    180
2    d   36     33   81    150
3    e   37     86   83    206
4   gh   38     96   33    167
5    j   39     33   87    159
6   kk   40    116   89    245